---
import config from "../../config/baseConfig";
import { cssVars } from "../../config/contentConfig";
---
<div class="nav">
    <nav class="left">
        <a href={"/" + config.base}>Home</a>
        <a href={"/" + config.base + "/aboutme"}>Über Mich</a>
    </nav>
    <nav class="right">
        <a href={"/" + config.base + "/services"}>Leistungen</a>
        <a href={"/" + config.base + "/contact"}>Kontakt</a>
    </nav>
</div>
<style define:vars={cssVars}>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    * {
        font-family: 'Montserrat', sans-serif;
        scroll-behavior: smooth;
    }

    .nav {
        background-color: var(--accentColor);
        color: white;
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        height: 4em;
        align-items: center;
        justify-content: space-between;
        font-weight: 700;
    }

    .nav nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .nav nav a {
        text-decoration: none;
        margin: 0 0.5em;
        color: #fff;
    }

    .nav .left a {
        margin-right: 0.5em;
    }
    .nav .right a {
        margin-left: 0.5em;
    }

    .nav .left a, .nav .right a {
        padding: .5em .8em;
        color: white;
        position: relative;
        text-decoration: none;
        font-size: 20px;
    }
</style>